@import '/src/App.scss';

.icon-button {
    position: relative;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid  $slightly-lighter-dark-gray;

    div {
        display: flex;
    }

    #button-tooltip {
        display: none;
    }

    &:hover {
        cursor: pointer;

        #button-tooltip {
            display: inline-block;
            position: absolute;
            bottom: -70%;
            left: 25%;
            padding: .3rem;
            background-color: rgba($light-grey, .6);
            color: $white;
            border-radius: 10px;
            white-space: nowrap;
        }
    }
}